<div>
    <input id="message">
    <button id="saveBtn">send</button>
</div>
<div id="messages"></div>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/socket.js"></script>

 