    <main class="container-bg-home">
        <!-- left column -->
        <div class="row">
            <div class="col g-6">
                <div class="row g-0 position-relative">
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <img src="../Assets/chingu_logo.png" class="w-100" alt="logo picture">
                    </div>
                    <div class="col-md-6 p-4 ps-md-0">
                        <h2 class="mt-0">ChinguTalk</h2>
                        <p>It's dangerous to go alone... use this!
                        </p>
                    </div>
                </div>
            </div>

<script src="/js/home.js"></script>
    