<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">ChinguTalk</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
                aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        {{#if logged_in}}
                        <a class="nav-link dropdown-toggle" href="/profile" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu">
                            <button class="btn" type="submit" id="logout">Logout</button>
                            <script src="/js/logout.js"></script>
                            {{!-- <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li> --}}
                        </ul>
                        {{else}}
                        <a class="nav-link" href="/profile">log in</a>
                        {{/if}}
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Link</a>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<body>
    <main style="background-color:#F8F3F2">
        <div class="row">
            <!-- left column -->
            <div class="col g-6">
                <figure>
                    <img src="../Assets/chingu_logo.png" alt="logo picture">
                </figure>

            </div>

            <!-- right column -->
            <div class="col g-6">
                <div class="card m-6" style="background-color:#BEB4AA; height:100%; align-items:center;">
                    <div class="card-header">Log In</div>
                    <div class="card-body">
                        <form>
                            <form class="row g-3">
                                <div class="col-auto">
                                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="name@example.com">
                                </div>
                                <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Password</label>
                                    <input type="password" class="form-control" id="inputPassword2"
                                        placeholder="Password">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn mb-3" style="border: solid 2px #fff; ">Sign In</button>
                                </div>
                            </form>
                            <p><a href="signup.handlebars" class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Create an account</a></p>
                    </div>

                </div>



                </form>
            </div>
        </div>
        </div>
</body>