        <div class="row">
        <!-- left column -->
            <div class="col g-6">
                <div class="row g-0 position-relative">
                    <div class="col-md-6 mb-md-0 p-md-4">
                        <img src="../Assets/chingu_logo.png" class="w-100" alt="logo picture">
                    </div>
                    <div class="col-md-6 p-4 ps-md-0">
                        <h2 class="mt-0">ChinguTalk</h2>
                        <p>It's dangerous to go alone... use this!
                        </p>
                    </div>
                </div>
            </div>

            <!-- right column -->
            <div class="col g-6">
                <div class="card m-6" style="background-color:#BEB4AA; height:100%; align-items:center;">
                    <div class="card-header">Log In</div>
                    <div class="card-body">
                        <form>
                            <form class="row g-3">
                                <div class="col-auto">
                                    <label for="exampleFormControlInput1" class="form-label">Email address</label>
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="name@example.com">
                                </div>
                                <div class="col-auto">
                                    <label for="inputPassword2" class="visually-hidden">Password</label>
                                    <input type="password" class="form-control" id="inputPassword2"
                                        placeholder="Password">
                                </div>
                                <div class="col-auto">
                                    <button type="submit" class="btn mb-3" style="border: solid 2px #fff; " href="/profile" >Sign
                                        In</button>
                                </div>


                                <p><a href="/signup"
                                        class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Create
                                        an account</a></p>
                            </form>
                    </div>

                </div>
                </div>

<script src="/js/profile.js"></script>