<div class="row center" style="display: flex; flex-wrap:wrap; justify-content:center;">
        <h1 class="text-center" style="font-size: 100px;">
            See you later!
        </h1>

    <div style="width: 50%; height: auto;">

        <div class="tenor-gif-embed" data-postid="24912723" data-share-method="host" data-aspect-ratio="1.14695"
            data-width="100%"><a href="https://tenor.com/view/goma-cat-cute-sleep-good-night-gif-24912723">Goma Cat
                Sticker</a>from <a href="https://tenor.com/search/goma-stickers">Goma Stickers</a></div>
    </div>

</div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
<script src="/js/logout.js"></script>
