<div class="row">
    <!-- left column -->
    <div class="col g-6">
        <figure>
            {{!-- <img src="{{profile picture}}" alt="profile picture"> --}}
        </figure>

    </div>

    <!-- right column -->
    <div class="col g-6">
        <div class="card m-6" style="background-color:#BEB4AA; height:100%; align-items:center;">
            {{#each projects}}
            <h3>{{name}} </h3>
            <ul>
                {{#each this.interest}}
                <li>{{this}}</li>
                {{/each}}
            </ul>
            <p>{{biography}}</p>
            <div>


                <a href="/chat" class="btn btn-outline-light" role="button" data-bs-toggle="button" id="msgBtn">
                
                Start Chatting
                <img src="/Assets/chat bubble icon.png" style="height: 40px; width:auto">

                </a>

                {{!-- <button type="button" class="btn btn-outline-light" id="msgBtn">
                    Start Chatting
                    
                    <a href="/chat"></a>
                </button> --}}
                <div id="messages"></div>
            </div>
            <hr>
            {{/each}}
        </div>

    </div>



    </form>
</div>
</div>
</div>
<script src="/js/profile.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/socket.js"></script>