<div class="row">
    <!-- left column -->
    <div class="col g-6">
        <div class="row">
            <div class="card text-center" style="width: 18rem;">
                <figure class="card-img-top ratio ratio-1x1">

                    <img class="card-img-top img-thumbnail mx-auto  d-block rounded-circle" src="{{userData.photoUrl}}"
                        alt="profile picture">

                </figure>
                <div class="card-body">
                    <h2 class="card-title">{{userData.firstName}}'s profile</h2>
                    <p class="card-text">
                    <h5>Bio</h5>
                    {{userData.biography}}</p>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    {{#each userData.interests}}
                    <li class="list-group-item">{{interest}}</li>
                    {{/each}}
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
                <div class="card-body" style="align-items:center;">

                    <a href="/chat">

                        <button class="btn btn-outline-light" type="button">
                            Start Chatting
                            <img src="/Assets/chat bubble icon.png" style="height: 40px; width:auto">
                        </button>
                    </a>
                    {{!-- <a href="/chat" class="card-link">Card link</a> --}}
                </div>
            </div>

        </div>
    </div>

</div>

<!-- right column -->
<div class="col g-6">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>
                <td>@fat</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>
                <td>@twitter</td>
            </tr>
        </tbody>
    </table>
</div>

<hr>
</div>




</div>
</div>


<script src="/js/profile.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="/js/socket.js"></script>
<script src="/js/cloud.js"></script>
<script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>