<div class="row">
    <!-- left column -->
    <div class="col g-6">
        <div class="row">
                <ul class="list-group list-group-flush">
                    {{#each interests}}
                    <li class="list-group-item">{{interest}}</li>
                    {{/each}}
                    <li class="list-group-item"></li>
                    <li class="list-group-item"></li>
                </ul>
            </div>

        </div>
    </div>

<!-- right column -->
<div class="col g-6">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>

            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Jacob</td>
                <td>Thornton</td>

            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2">Larry the Bird</td>

            </tr>
        </tbody>
    </table>
</div>

<script src="/js/search.js"></script>
<script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script>
<script src="/controllers/api/interestRoutes.js"></script>