:root {
  --lightest-beige: #F1EBE5;
  --bg-light-beige-pink: #F8F3F2;
  --bg-mushroomy-brown: #BEB4AA;
  --txt-dark-brown: #69443C;
  --navy: #30334B;
  --bg-light-green: #CDCFC0;
  --txt-green: #223D3C;
}
*{
  font-family: 'Libre Baskerville', serif;
  font-family: 'Rubik', sans-serif;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;
}

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Raleway&family=Rubik:wght@600&display=swap');


/* universals */
a.navbar-brand {
  font-family: 'Libre Baskerville';
  font-size: 35px;
  letter-spacing: 5px;
  color: var(--txt-dark-brown);
};

a#is-sign-in {
  font-family: 'Libre Baskerville';
  font-size: 10px;
}

.dropdown-item{
  font-family: 'Raleway';
  font-size: 15px;
}


p {
  font-family: 'Raleway';
  font-size:25px;
};

.btn {
  font-family:'Rubik'
};


h3 {
  font-family: 'Libre Baskerville';
}

li {
  list-style: none;
  font-family:'Raleway';
  font-size: 30px;
}
ul {
  list-style-type: none;
}

body {
  background-image: url("../Assets/white\ leaf\ shadow\ bg.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
}

main {
  display:flex; 
  flex-direction:column; 
  justify-content:center;
  margin:0 auto; 
}

header {
  z-index: 1 !important;
  
}

.dropdown-menu {
text-decoration: none;
}

/* card details */
.card-title {
  font-family: 'Libre Baskerville';
  font-size: 60px;
  letter-spacing: 3px;
  text-align: center;
}
h5.card-title {
  color: var(--navy);
}

.card-body {
  padding: 2px
}
.text-body-secondary {
  font-family:'Raleway';
  font-size: 30px;
}
.card-text {
  font-family: 'Libre Baskerville';
  font-size: 40px;
}

.card-bio {
  font-family:'Raleway';
  font-size: 25px;
}

/* home details */
h2.home {
  font-family: 'Libre Baskerville';
  font-size: 40px;
  letter-spacing: 5px;
  color: var(--txt-dark-brown);
};

/* signup details */
.card-header {
c
}

/* profile page */
.profile-pic {
  width: 100px;
  overflow: hidden;
  border-radius: 50%;
}

.profile-pic img{
  margin-top: -25px;
}

/* tooltip */

#tooltip h2 {
  font-size: 15px;
  font-weight: bold;
}

#tooltip p {
  font-size: 15px;
  font-weight: lighter;
}

#tooltip {
  /* background: #333; */
  color: #423F32;
  font-weight: bold;
  padding: 4px 8px;
  font-size: 13px;
  border-radius: 4px;
  display: none;
  width: 25%;
  flex-wrap: wrap;
  text-align: center;
}

#tooltip[data-show] {
  display: block;
}

#arrow,
#arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

#arrow {
  visibility: hidden;
}

  #tooltip[data-popper-placement^='bottom']>#arrow {
    top: -4px;
  }

  #upload_widget {
    background-color: #BEB4AA;
    border: solid 2px #ffff;
    color: black;
  }
#arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

#tooltip[data-popper-placement^='bottom']>#arrow {
  top: -4px;
}
